In [2]:
import pandas as pd
import numpy as np

In [5]:
# Question 1
data=np.random.rand(4,4)
features=["Feature 1","Feature 2","Feature 3","Feature 4"]
df=pd.DataFrame(data,columns=features)
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.327981   0.701591   0.868236   0.815062
1   0.758000   0.624713   0.632084   0.939419
2   0.059545   0.882895   0.223164   0.190375
3   0.556188   0.719458   0.764812   0.499854

In [7]:
# Question 2
features1=["Random Value 1","Random Value 2","Random Value 3","Random Value 4"]
df=pd.DataFrame(data,columns=features1)
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.327981        0.701591        0.868236        0.815062
1        0.758000        0.624713        0.632084        0.939419
2        0.059545        0.882895        0.223164        0.190375
3        0.556188        0.719458        0.764812        0.499854

In [9]:
# Question 3
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.425428        0.732164        0.622074        0.611177
std          0.300593        0.108569        0.282960        0.336045
min          0.059545        0.624713        0.223164        0.190375
25%          0.260872        0.682371        0.529854        0.422484
50%          0.442084        0.710525        0.698448        0.657458
75%          0.606641        0.760317        0.790668        0.846151
max          0.758000        0.882895        0.868236        0.939419

In [11]:
# Question 4
null_values=df.isnull().sum()
data_types=df.dtypes
print("Null Values: ")
print(null_values)
print("\nDataTypes: ")
print(data_types)

Null Values:
Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

DataTypes:
Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

In [14]:
# Question 5
# Using location method loc()
for index in range(len(df)):
  value_feature2=df.loc[index,'Random Value 2']
  value_feature3=df.loc[index,'Random Value 3']
  print(f"Index: {index}")
  print(f"Random Value 2 : {value_feature2}, Location: (row {index+1}, column 'Random Value 2')")
  print(f"Random Value 3 : {value_feature3}, Location: (row {index+1}, column 'Random Value 3')")
  print()

#Using index location method iloc()
for index in range(len(df)):
  value_feature2=df.iloc[index,1]
  value_feature3=df.iloc[index,2]
  print(f"Index: {index}")
  print(f"Random Value 2 : {value_feature2}, Location: (row {index+1}, column 'Random Value 2')")
  print(f"Random Value 3 : {value_feature3}, Location: (row {index+1}, column 'Random Value 3')")

Index: 0
Random Value 2 : 0.701590855894393, Location: (row 1, column 'Random Value 2')
Random Value 3 : 0.8682355215500024, Location: (row 1, column 'Random Value 3')

Index: 1
Random Value 2 : 0.6247128746907845, Location: (row 2, column 'Random Value 2')
Random Value 3 : 0.6320836977741602, Location: (row 2, column 'Random Value 3')

Index: 2
Random Value 2 : 0.8828949290500491, Location: (row 3, column 'Random Value 2')
Random Value 3 : 0.22316398879265675, Location: (row 3, column 'Random Value 3')

Index: 3
Random Value 2 : 0.7194583000071718, Location: (row 4, column 'Random Value 2')
Random Value 3 : 0.7648119616487, Location: (row 4, column 'Random Value 3')

Index: 0
Random Value 2 : 0.701590855894393, Location: (row 1, column 'Random Value 2')
Random Value 3 : 0.8682355215500024, Location: (row 1, column 'Random Value 3')
Index: 1
Random Value 2 : 0.6247128746907845, Location: (row 2, column 'Random Value 2')
Random Value 3 : 0.6320836977741602, Location: (row 2, column 'Random Value 3')
Index: 2
Random Value 2 : 0.8828949290500491, Location: (row 3, column 'Random Value 2')
Random Value 3 : 0.22316398879265675, Location: (row 3, column 'Random Value 3')
Index: 3
Random Value 2 : 0.7194583000071718, Location: (row 4, column 'Random Value 2')
Random Value 3 : 0.7648119616487, Location: (row 4, column 'Random Value 3')